@import url("https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
}

:root {
  font-family: "Elms Sans", sans-serif;
  background-color: rgb(255, 217, 159);
}

input[type="radio"] {
  accent-color: #ff5722;
}

input[type="text"] {
  background-color: transparent;
  border: 1px solid gray;
  padding-left: 7px;
}

input[type="text"]:focus {
  outline: none;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.container {
  padding: 0px 27px 0px 27px;
}

.home {
  height: 100vh;
}

.home h1 {
  font-size: 50px;
  text-align: center;
}

.home :first-child > div > p {
  font-size: 17px;
  text-align: center;
  background-color: #d3ff00;
}

.home :first-child > div > span {
  display: block;
  margin-top: 12px;
}

.home :first-child > div > span > a {
  width: 50%;
  margin: 0 auto;
  display: block;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  background-color: #007663;
  color: white;
  border-radius: 2px;
  transition: color ease-in-out 0.3s;
}
.home :first-child > div > span > a:hover {
  color: #007663;
  background-color: white;
}

.submitCsv {
  height: 100vh;
}

.submitCsv hr {
  margin-bottom: 12px;
}

.submitCsv h1 {
  color: brown;

  font-size: 27px;
  font-weight: 600;
}

.submitCsv h3 {
  font-size: 15px;
  width: fit-content;
  background-color: #148460;
  color: white;
  padding: 2px 10px;
  font-weight: unset;
}

.submitCsv > .container > div:nth-of-type(1) {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#csvFileInput {
  display: none;
}

.submitCsv > .container > div:nth-of-type(1) > div:nth-child(2) label {
  border: 1.3px solid #00000042;
  width: 350px;
  display: block;
  height: 143px;
  margin-top: 16px;
  border-radius: 0.4px;
  padding: 7px;
}

.submitCsv > .container > div:nth-of-type(1) > div:nth-child(2) label > p {
  font-size: 13px;
}

.submitCsv > .container > div:nth-of-type(2) button {
  outline: 0;
  background: 0 0;
  border: 1px solid #000;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
  overflow: hidden;
  padding: 2px 13px;
  text-overflow: ellipsis;
  transition: all 0.14s ease-out;
  white-space: nowrap;
  margin: 0px 3px;
  &:hover {
    box-shadow: 4px 4px 0 #000;
    transform: translate(-4px, -4px);
  }
  &:focus-visible {
    outline-offset: 1px;
  }
}

.submitCsv > .container > div:nth-of-type(2) button:nth-child(1):hover {
  background-color: rgb(205, 63, 63);
  color: white;
}

.submitCsv > .container > div:nth-of-type(2) button:nth-child(2):hover {
  background-color: peru;
  color: white;
}

input[type="checkbox"] {
  accent-color: #7c7c7c;
}

.submitCsv
  > .container
  > div:nth-of-type(1)
  > div:nth-of-type(1)
  > div:nth-of-type(1) {
  padding: 7px;
  margin-top: 3px;
}

#dialog {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#dialog button {
  border: none;
  color: white;
  padding: 2px 35px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: #e7e7e7;
  color: black;
}

.dialogshown {
  background-color: rgba(33, 31, 31, 0.401);
  width: 100%;
  height: 100%;
}

.dialogshown > div {
  background-color: white;
  width: 270px;
  height: fit-content;
  padding: 9px;
}

#helperParent {
  animation: animation 1s ease-in-out;
}

@keyframes animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

#helperParent span {
  margin-right: 12px;
}

#helperParent span label {
  margin-left: 3px;
}

.submitCsv .container >  div:nth-of-type(2){
  margin-top: 12px;
}

@media screen and (max-width: 800px) {
  .home h1 {
    font-size: 30px;
  }
  .submitCsv > .container > div:nth-of-type(1) {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .submitCsv > .container > div:nth-of-type(1) > div:nth-child(2) label {
    width: 252px;
  }
}
