{% extends "base.html" %} {% block child %}
<div class="submitCsv">
  <div class="container">
    <h1>Submit Your CSV</h1>
    <hr />
    <div>
      <div>
        <h3>Filters &RightArrow;</h3>
        <div>
          <input type="radio" name="type" id="typeHeader"><label for="typeHeader">Header</label>
          <input type="radio" name="type" id="typeData"><label for="typeData">Data</label>
        </div>
      </div>
      <div>
        <h3>Upload File &RightArrow;</h3>
        <label for="csvFileInput" id="csvFileInput_">
          <p id="filePara">Drop or Select a File</p>
        </label>
        <input type="file" id="csvFileInput" />
      </div>
    </div>
    <div>
      <button id="cancel">Cancel</button><button id="submit">Submit</button>
    </div>
  </div>
</div>
<script src="{{ url_for('static',path='/scripts/submitCsv.js')}}"></script>
{% endblock %}
