{% extends "base.html" %} {% block child %}
<div id="dialog"></div>
<div class="submitCsv">
  <div class="container">
    <h1>Submit Your CSV</h1>
    <hr />
    <div>
      <div>
        <h3>Filters &RightArrow;</h3>
        <div id="filters">
          {% for type in ['Basic','Process'] %}
          <p>{{ type }} :</p>
          {% if type == 'Basic' %} {% for row in basicColumns %}
          <span>
            <input
              type="checkbox"
              name="{{ row['name'] }}"
              id="{{ row['id'] }}"
            />
            <label for="{{ row['id'] }}">{{ row['label'] }}</label>
          </span>
          {% endfor %} {% else %} {% for obj in process %}
          <div id="{{ obj['id'] }}">
            {% for i in obj['labels'] %}
            <span>
              <input
                type="radio"
                name="{{ obj['name'] }}"
                id="{{ i }}"
                value="{{ i }}"
              />
              <label for="{{ i }}">{{ i }}</label>
            </span>
            {% endfor %}
          </div>
          {% endfor %} {% endif %} {% endfor %}
        </div>
      </div>
      <div>
        <h3>Upload File &RightArrow;</h3>
        <label for="csvFileInput" id="csvFileInput_">
          <p id="filePara">Drop or Select a File</p>
        </label>
        <input accept=".csv" type="file" id="csvFileInput" />
      </div>
    </div>
    <div>
      <button id="clean">Clean</button><button id="submit">Submit</button>
    </div>
  </div>
</div>
<script src="{{ url_for('static',path='/scripts/submitCsv.js')}}"></script>
{% endblock %}
